{{#paper-content class="md-padding"}}
  <div layout="row" layout-sm="column">
    <div class="product-list" flex>
      <h3 class="shop-title"> Available Products </h3>
      {{#paper-list}}
        {{#each model as |product|}}
          {{#paper-item class="product"}}
              {{#paper-button icon-button=true action=(action "addToCart" product)}}{{paper-icon "add"}}{{/paper-button}}
              <div class="product-info" flex>
                {{product.name}} - {{product.productCode}}
                {{sale-banner currentOffer=product.currentOffer}}
              </div>
              <div class="price" flex>{{money-format product.regularPrice}}</div>
            <!-- </div> -->
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
      {{#if cart.cartItems}}
        <button class="cart-reset" {{action "emptyCart"}}>Reset Cart</button>
      {{/if}}
    </div>
    <div class="cart" flex>
      {{shopping-cart}}
    </div>
  </div>
{{/paper-content}}
